
<h1>Manhattan FiDi Restaurants</h1>
<%= erb :login %>

<br><br>
<% if @current_user %>
	<a href="/restaurants/new">Add new restaurant</a>
	<br><br>

	<!-- List of restaurants (based on user) -->
	<h1>List of Restaurants</h1>
	<% @current_user.ratings.each do |rating| %>
		<div class="restaurant">
			<ul>
				<li>
					<%= rating.restaurant.name %> <br>
					<%= rating.restaurant.order %><br>
					<%= rating.review %><br>

				</li>
			</ul>
		</div>
	<% end %>

<% end %>