
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Manhattan FiDi Restaurants</title>
	<link rel="stylesheet" type="text/css" href="/css/default.css">
</head>
<body>
	<!-- Flash messages appear at the top -->
	<% if flash[:message] %>
	<div id="notice"> <%= flash[:message] %> </div> <% end %>

	<!-- Rest of body text -->
	<%= yield %>
	
</body>
</html>