
<div class="login-page">
	<% if @current_user %>
		<h4 style="color: white;">
			Welcome, <span style="color: orange;"><%= @current_user.first %> <%= @current_user.last %></span>.	
		</h4> 
	<% else %>

	<form class="login-form" method="POST" action="/login">
		<table>
			<tr>
				<td><label>Username</label></td>
				<td><input name="username"/></td>
			</tr>
			<tr>
				<td><label>Password</label></td>
				<td><input name="password" type="password"/></td>
			</tr>
		</table>
			<input type="submit" value="login"/>
			
	</form>

	<a href="/signup">New user?</a>

	<% end %>

</div>