
<h1>Submit a new restaurant</h1>

<form class="restaurant" method="POST" action="/restaurants">

	<table>
		<tr>
			<td><label>Name</label></td>
			<td><input name="name"/></td>
		</tr>
		<tr>
			<td><label>Order</label></td>
			<td><textarea name="order"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit"></td>
		</tr>
	</table>

</form>
