
<h1>How would you rate it?</h1>

<form class="rating" method="POST">

	<table>
		<tr>
			<td><label>Rating</label></td>
			<td><input type="number" name="rating" min="1" max="5"></td>
		</tr>
		<tr>
			<td><label>Review</label></td>
			<td><textarea name="review"></textarea></td>
		</tr>
		<tr>
			<td></td>
			<td><input type="submit"></td>
		</tr>
	</table>

</form>