
<h1>Submit a new restaurant</h1>

<form class="restaurant" method="POST" action="/restaurants">

	<label>Name</label><input name="name"/>
	<label>Order</label><textarea name="order"></textarea>

	<input type="submit">

</form>
