
<div class="restaurant-page">
	<a href="/"><button class="back-button"><</button></a>
	<h1>Manhattan FiDi Restaurants</h1>
	<hr>
	<h1><%= @restaurant.name %></h1>



	<div class="bg-image"><img src="/imgs/home.jpg"></div>
</div>