
<div class="signup-page">
	<a href="/"><button class="back-button"><</button></a>
	<h1>Manhattan FiDi Restaurants</h1>
	<hr>

	<form class="signup-form" method="POST" action="/signup">
		<table>
			<tr>
				<td><label>First name</label></td>
				<td><input name="first"/></td>
			</tr>
			<tr>
				<td><label>Last name</label></td>
				<td><input name="last"/></td>
			</tr>
			<tr>
				<td><label>Username</label></td>
				<td><input name="username"/></td>
			</tr>
			<tr>
				<td><label>Password</label></td>
				<td><input name="password" type="password"/></td>
			</tr>
		</table>
			<input type="submit" value="signup"/>
			
	</form>
<div class="bg-image"><img src="/imgs/home.jpg" style="width: 1440px;"></div>
</div>