
/* All pages */
a {
	color: orange;
}

a:hover {
	color: white;
}

.bg-image {
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
}

.home-page, .new-rating-page, .new-restaurant-page, .signup-page, .restaurant-page {
	padding: 70px 20px 150px 20px;
	background-color: rgba(0, 0, 0, 0.8);
	border-style: double;
	border-radius: 20px;
	border-width: 10px;
	color: white;
	text-align: center;
	width: 55%;
	margin: 150px auto;
	font-family: 'Poppins', sans-serif;
}

.home-page h1, .new-rating-page h1, .new-restaurant-page h1, .signup-page h1, .restaurant-page h1 {
	font-size: 2em;
}

.login-form table, .new-rating-page table, .new-restaurant-page table, .signup-form table {
	text-align: center;
	margin-left: 220px;
}

.login-form td, .new-rating-page td, .new-restaurant-page td, .signup-form td {
	padding: 10px;
}

.login-page h4, .signup-page h4 {
	margin-left: 450px;
}

.back-button {
	position: absolute;
	top: 170px;
	left: 300px;
	padding: 5px 15px;
	border-radius: 5px;
	background-color: black;
	font-size: 1.5em;
	color: white;
}

.back-button a {
	text-decoration: none;
}

.back-button:hover {
	background-color: white;
	color: black;
}

input[type=submit] {
	margin-top: 10px;
	background-color: orange;
	width: 240px;
	margin-right: 15px;
	text-transform: uppercase;
}

/* New ratings page */
.review-text {
	position: absolute;
	top: 385px;
	right: 540px;
	width: 150px;
	height: 60px;
}

.rating-submit {
	position: absolute;
	top: 450px;
	right: 520px;
}

.rating-form input[type=submit] {
	width: 160px;
}

/* New restaurant page */

.restaurant-text {
	position: absolute;
	top: 380px;
	right: 540px;
	width: 150px;
	height: 60px;
}

.restaurant-name {
	position: absolute;
	top: 340px;
	height: 23px;
	right: 540px;	
	width: 150px;
}

.restaurant-submit {
	position: absolute;
	top: 450px;
	right: 525px;
}

.restaurant-form input[type=submit] {
	width: 155px;
}

/* Home page */

.restaurant-list {
	list-style-type: none;
	text-align: left;
	padding-left: 150px;
}

.restaurant-list li {
	color: orange;
}

/* Flash banner */
#notice {
	font-family: 'Poppins', sans-serif;
	background-color: rgba(0, 0, 0, 0.8);
	color: orange;
	font-weight: bold;
	padding: 15px 50px;
	text-align: center;
}

/* Star rating*/

span.rating {
	padding-right: 230px;
}
.rating {
  overflow: hidden;
  vertical-align: bottom;
  display: inline-block;
  width: auto;
  height: 30px;
}
 
.rating > input {
  opacity: 0;
  margin-right: -100%;
}
 
.rating > label {
  position: relative;
  display: block;
  float: right;
  background: url('/imgs/star-off-big.png');
  background-size: 30px 30px;
}
 
.rating > label:before {
  display: block;
  opacity: 0;
  content: '';
  width: 30px;
  height: 30px;
  background: url('/imgs/star-on-big.png');
  background-size: 30px 30px;
  transition: opacity 0.2s linear;
}
 
.rating > label:hover:before, .rating > label:hover ~ label:before, .rating:not(:hover) > :checked ~ label:before { opacity: 1; }













